<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Formulario Nuevo tema</h1>

    <form th:action="@{/temas/nuevo}" method="post" th:object="${tema}">

        <label>Título dek Tema</label>
        <input type="text" th:field="*{titulo}"><br><br>

        <label >Descricpcion</label>
        <textarea th:field="*{descripcion}"></textarea><br><br>

        <button type="submit" >Crear tema</button>

    </form>

</body>
</html>